
html, body {
    
	overflow-x: hidden;
}




body{
	background-image: url('https://img.freepik.com/darmowe-zdjecie/bialy-drewniany-stol-tlo_53876-89436.jpg?size=626&ext=jpg');
	background-position: -99999px -99999px;
}


body:before {
    content: ""; 
    background-image: inherit;
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100%; 
    -webkit-background-size: cover !important; 
    -moz-background-size: cover !important; 
    -o-background-size: cover;
    background-size: cover !important; 
    z-index: -1;
	
}

.jumbotron{
	background: rgb(222,138,69);
	background: linear-gradient(90deg, rgba(222,138,69,0.23573179271708689) 9%, rgba(222,224,104,0.4374124649859944) 82%);
	border-radius: 14px 14px 14px 14px;
	box-shadow: 0 0 20px 10px #CFB53B;
}

.jumbotron p{
	font-size: 18px;
	font-weight: bold;

}

.jumbotron a{
	font-size: 18px;
	font-weight: bold;

}

.jumbotron.lolek{
	background: rgb(34,195,166);
	background: linear-gradient(0deg, rgba(34,195,166,0.20772058823529416) 26%, rgba(45,49,253,0.2413340336134454) 94%);
	box-shadow: 0 0 6px 6px #3db0a6;
	font-weight: bold;
	color:rgb(5, 15, 146);
	font-size: 19px;
}

.jumbotron.lolek a{
	font-weight: bold;
	color:rgb(5, 15, 146);
	font-size: 19px;

}


.responsive {
  width: 100%;
  height: auto;
}

.img1{
	position: relative; bottom:0.7cm;
	border: 3px solid #BBBBBB;
}
.img2{
	position: relative; bottom:0.7cm;
	border: 3px solid #ddd;
}
.img3{
	position: relative; bottom:0.7cm;
	border: 3px solid #f1f1f1;
}

.img4{
	position: relative; bottom:0.7cm;
	border: 3px solid #CFB53B;
}

.img5{
	position: relative; bottom:0.7cm;
	border: 3px solid #a5cda5;
}




.nav-item{
	font-size: 18px;
}
.navbar-collapse li a{
    color:whitesmoke;
	font-weight: bold;
	

}


.container-fluid{
    padding:  0px !important;
    position: relative; top:-1cm;
    
 }


.content {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	text-align: center;
	top: 50%;
	
  }

  .content h10{
	  font-size: 28px;
	 
	
	  
  }
  #button {
	display: inline-block;
	background-color: #FF9800;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #button::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  }
  #button:hover {
	cursor: pointer;
	background-color: #333;
  }
  #button:active {
	background-color: #555;
  }
  #button.show {
	opacity: 1;
	visibility: visible;
  }

  .bg-image {
	opacity: 1;
	
	
	transition: .3s ease;
	backface-visibility: hidden;
  }

  
  .bg-image:hover {
	opacity: 0.9;
  }
  
  
  .quantity {
	position: relative;
	margin-left: 43%;
	margin-top: -2%;
	font-size: 22px;
	position: relative;left: -0.5cm;
	
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
	-webkit-appearance: none;
	margin: 0;
  }
  
  input[type=number]
  {
	-moz-appearance: textfield;
  }
  
  .quantity input {
	width: 70px;
	height: 60px;
	border-radius: 14px 14px 14px 14px;
	box-shadow: 0 0 20px 10px #CFB53B;
	float: left;
	
font-size: 27px;
	padding-left: 20px;
	border: 2px solid #eee;
	
  }
  

  
  .quantity-nav {
	float: left;
	position: relative;
	height: 59px;
	font-size: 22px;
  }
  
  .quantity-button {

	cursor: pointer;
	border-left: 2px solid #eee;
	width: 25px;
	
	font-size: 22px;
	
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
  }
  
  .quantity-button.quantity-up {
	position: absolute;
	font-size: 22px;
	border-bottom: 2px solid #eee;
	color: green;
  }
  
  .quantity-button.quantity-down {
	position: absolute;
	bottom: -1px;
	height: 55%;
	color: red;
	font-size: 22px;
	
  }

  .nazwa_pr{
	  font-size: 22px;
	  display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
color: #00008B;
border: 2px solid red;
padding: 10px;
border-radius: 25px;
background-color: whitesmoke;

  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0){
        .cena_pr2{
	font-size: 22px;
	

	display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
	border: 2px solid orange;
	border-radius: 25px;
	background-color:white;
	color:red;
	text-decoration: line-through black;
	opacity:0.6;
	  -webkit-text-decoration: line-through black;
	  		 text-decoration-color: black;
  -webkit-text-decoration-color: black;
  }
      
      
  }
  
  
  .cena_pr{
	font-size: 22px;
	

	display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
	border: 2px solid #2ab7ec;
	border-radius: 25px;
	background-color:#D8DFDC;
	color:darkblue;
  }
   .cena_pr2{
	font-size: 22px;
	

	display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
	border: 2px solid orange;
	border-radius: 25px;
	background-color:white;
	color:red;
	text-decoration: line-through black;
	opacity:0.6;
	  -webkit-text-decoration: line-through black;
	  		 text-decoration-color: black;
  -webkit-text-decoration-color: black;
  }
.ilosc_pr{
	font-size: 22px;
	
	display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
	border: 2px solid tomato;
	border-radius: 25px;
	background-color:linen;
	color:#330000;
}
.ile_pr{
	font-size: 22px;
	
	display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
	border: 2px solid olivedrab;
	border-radius: 25px;
	background-color:ivory;
	color:#330000;
}

.btn.btn-link{
	font-size: 22px;
}

#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
	
	
  }
  

#myImg{
	border: 8px solid white;
  border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%23FFC14D'/><stop offset='0.362' stop-color='%23FF4834'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
 
}


select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: #52527a;
   background-image: none;
   flex: 1;
   padding: 0 .5em;
   color:white;
   cursor:pointer;
   font-size: 1em;
   font-family: 'Open Sans', sans-serif;
   


}
select::-ms-expand {
   display: none;
}
.select {
    
   margin: 0 auto !important;
   position: relative;
   display: flex;
   width: 12em;
   height: 3em;
   line-height: 3;
 
   overflow: hidden;
   border-radius: .25em;
}
.select::after {
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 1em;
   background: #7575a3;
   cursor:pointer;
   pointer-events:none;
   transition:.25s all ease;
   color:#7094db;
}
.select:hover::after {
   color: #f0f0f5;
}
  



  .modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	padding-top: 100px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.9); 
  }
  
  .card.cong{
	background: rgb(18,145,221);
	background: radial-gradient(circle, rgba(18,145,221,0.4766281512605042) 1%, rgba(10,58,245,0.5970763305322129) 87%);
	border-radius: 12px 12px 12px 12px;
	box-shadow: 0 0 10px 10px #e7700e;


  }
  .card.cong a{
	  text-decoration: none;
	  color: white;
  }
  .card.cong a:hover{
	text-decoration: none;
	color: white;
}
  
  .scrollToTop{
    width:100px; 
    height:130px;
    padding:10px; 
    text-align:center; 
    background: whiteSmoke;
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position:fixed;
    top:75px;
    right:40px;
    display:none;
}
.scrollToTop:hover{
    text-decoration:none;
}


  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 500px;
  }

  #caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 500px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }
  
 
  .modal-content, #caption {  
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)} 
	to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
	from {transform:scale(0)} 
	to {transform:scale(1)}
  }
  

  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
  

  @media only screen and (max-width: 700px){
	.modal-content {
	  width: 100%;
	}
  }
  
  
  .zakladanie_k{
      
      
      text-decoration:none;
      font-size:23px;
  }
  
  .zakladanie_k a{
      text-decoration:none;
      color:red;
      position:relative;bottom:3.5cm;
  }
  
    .zakladanie_k a:hover{
      text-decoration:none;
      color:navy;
     
  }
  
  @media (max-width: 768px){
 
.jumbotron.lolek 
{
  
}

.jumbotron.lolek a
{  
    white-space: pre;
 
}



}

.login {
  background: #eceeee;
  border: 2px solid #42464b;
  border-radius: 6px;
  height: 250px;
  margin: 20px auto 0;
  width: 298px;
}
.login2 {
	background: #eceeee;
	border: 2px solid #42464b;
	border-radius: 6px;
	height: 380px;
	margin: 20px auto 0;
	width: 298px;
  }


  .powrot a{
	font-size: 22px;
	display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
	border: 2px solid #2ab7ec;
	border-radius: 25px;
	background-color:snow;
	color:darkblue;
  }

  .powrot a:hover{
	  text-decoration: none;
	  color: #3300CC;
  }
  
.login3 {
	background: #eceeee;
	border: 2px solid #42464b;
	border-radius: 6px;
	height: 290px;
	margin: 20px auto 0;
	width: 298px;
  }
  .shadow3 {
	background: #000;
	border-radius: 12px 12px 4px 4px;
	box-shadow: 0 0 20px 10px #000;
	height: 18px;
	margin: 25px auto;
	opacity: 0.5;
	width: 270px;
  }

input[type="password"], input[type="text"] {
 
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  
 
  transition: box-shadow 0.3s;
  width: 240px;
  text-align: center;
}
input[type="password"]:focus, input[type="text"]:focus {
  box-shadow: 0 0 4px 1px rgba(55, 166, 155, 0.3);
  outline: 0;
}

.boxix{
	position: relative;bottom:1cm;
}



input[type="submit"] {
  width:240px;
  height:35px;
  display:block;
  font-family:Arial, "Helvetica", sans-serif;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-decoration:none;
  text-transform:uppercase;
  text-align:center;
  text-shadow:1px 1px 0px #37a69b;
  padding-top:6px;
  margin: 29px 0 0 29px;
  position:relative;
  cursor:pointer;
  border: none;  
  background-color: #37a69b;
  background-image: linear-gradient(top,#3db0a6,#3111);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius:5px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #497a78, 0px 10px 5px #999;
}

.shadow {
  background: #000;
  border-radius: 12px 12px 4px 4px;
  box-shadow: 0 0 20px 10px #000;
  height: 15px;
  margin: 30px auto;
  opacity: 0.2;
  width: 270px;
  
}


.shadow2 {
	background: #000;
	border-radius: 12px 12px 4px 4px;
	box-shadow: 0 0 20px 10px #000;
	height: 18px;
	margin: 50px auto;
	opacity: 0.3;
	width: 270px;
  }

input[type="submit"]:active {
  top:3px;
  box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}



.backProduct{
	background: rgb(222,100,69);
	background: linear-gradient(90deg, rgba(222,100,69,0.025647759103641476) 39%, rgba(84,33,96,0.3561799719887955) 81%);
  padding: 1cm;
  
}

.backProduct2{
	background: rgb(134,222,69);
	background: linear-gradient(90deg, rgba(134,222,69,0.3897934173669467) 35%, rgba(181,171,55,0.17970938375350143) 81%);

  display: table; 
  margin: 0px auto 0px auto; 
  padding:1cm;
}

.backProduct3{
	background: rgb(206,88,224);
background: linear-gradient(90deg, rgba(206,88,224,0.025647759103641476) 41%, rgba(88,224,213,0.3561799719887955) 81%);
  padding:1cm;
}


.wyszukiobwzle
{
	
	font-size:22px;
	
	
	
}
.wyszukiobwzle h655
{
	border-radius: 12px 12px 12px 12px;
	box-shadow: 0 0 20px 10px #2F4F4F;
	color:forestgreen;
	
}

.wyszukiobw
{
	

	 
	 font-size:22px;
	
	 color: #000;
	
	
}
.wyszukiobw h25
{	
	
	border-radius: 12px 12px 12px 12px;
	box-shadow: 0 0 10px 10px #2ab7ec;
	color:midnightblue;
}



  
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.obramowanie
{
width:300px;
height:350px;
max-width: 900px; 
margin: 0 auto; 
clear: none;
width: 100%;
text-align: center;
  transition: transform 0.3s;
        text-align:center;
box-shadow: 3px 3px 13px red, yellow -3px 3px 13px, 3px -3px 13px;
}

.obramowanie:hover
{
	
	transform: scale(1.1);
}
.element {
	

    display: inline-block;
    
	padding:20px;
	

	 
}

.element a
{
	font-size:19px;
	color:rebeccapurple;
	
}
.element a:hover
{
	color:orange;
	
}

img.zoom
{
	position: relative; 
	z-index: 1;
}
 @media screen and (-webkit-min-device-pixel-ratio:0){
 
 
 
.cenaobw3
{
	
	color:white;
	

}
.cenaobw3 h5
{
	margin-left: 98px;
	margin-right: 98px;
	background-color:red;
	font-size:23px;
		position: relative; bottom:1cm;
			border-radius: 6px 6px 6px 6px;
			background-color:rgb(255, 0, 0);
}
.cenaobw2
{
	
	color:white;
	opacity:0.8;

}
.cenaobw2 h5
{
	margin-left: 98px;
	margin-right: 98px;
	background-color:red;
	font-size:23px;
	position: relative; bottom:1.2cm;
	text-decoration: line-through black;
	  -webkit-text-decoration: line-through black;
		opacity:0.8;
		 text-decoration-color: black;
  -webkit-text-decoration-color: black;
  background-color:rgb(255, 0, 0);
}
 
    .cenaobw
{
	
	color:white;
	

}
.cenaobw h5
{
	margin-left: 98px;
	margin-right: 98px;
	background-color:red;
	font-size:23px;
	
			border-radius: 6px 6px 6px 6px;
			background-color:rgb(255, 0, 0);
}
}


.cenaobw
{
	
	color:white;
	

}
.cenaobw h5
{
	margin-left: 98px;
	margin-right: 98px;
	background-color:red;
	font-size:23px;
	
			border-radius: 6px 6px 6px 6px;
			background-color:rgb(255, 0, 0);
}

.cenaobw3
{
	
	color:white;
	

}
.cenaobw3 h5
{
	margin-left: 98px;
	margin-right: 98px;
	background-color:red;
	font-size:23px;
		position: relative; bottom:1.4cm;
			border-radius: 6px 6px 6px 6px;
			background-color:rgb(255, 0, 0);
}
.cenaobw2
{
	
	color:white;
	opacity:0.8;

}
.cenaobw2 h5
{
	margin-left: 98px;
	margin-right: 98px;
	background-color:red;
	font-size:23px;
	position: relative; bottom:1.5cm;
	text-decoration: line-through black;
	  -webkit-text-decoration: line-through black;
		opacity:0.8;
		 text-decoration-color: black;
  -webkit-text-decoration-color: black;
  background-color:rgb(255, 0, 0);
}

#container
{
	
	background-color: white;
	width: 300px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}


.pasreje
{
	

font-size:20px;
background-color:#EEEEEE;	
position: relative; top:-3cm;
}



.pasreje h888

{
		position: relative; left:2cm;
	color:#330099;
}

.pasreje h889

{
	
	color:#330099;
	position: relative; left:13cm;
}


.Zakladanie
{
	display:block;
	display:inline-block;
	text-decoration: none;
	list-style-type: none;

	position: relative; left:9cm;
	
}

.Zakladanie a
{
	text-decoration: none;
	color:black;
	
}
.Zakladanie a:hover
{
	color:#FF9900;
}

.Logowanie
{
	
	background-size:40%;
	display:block;
	display:inline-block;
	text-decoration: none;
	list-style-type: none;

	position: relative; left:21cm;

}
.Logowanie a
{
	text-decoration: none;
	color:black;
}
.Logowanie a:hover
{
	color:#00CED1;
}

.Logowanie2
{
	font-size:24px;
	background-color:#E6E6FA;	
	position: relative; top:-2.7cm;
	
	display:block;
	display:inline-block;
	text-decoration: none;
	list-style-type: none;

	position: relative; left:29cm;

}
.Logowanie2 a
{
	text-decoration: none;
	color:#3CB371;
}
.Logowanie2 a:hover
{
	color:#00CED1;
}
.Konto
{
	display:block;
	display:inline-block;
	text-decoration: none;
	list-style-type: none;

	
	
}

.Konto a
{
	text-decoration:none;
	color: #000;
	
	
}
.Konto a:hover
{
	color:#228B22;
	text-decoration: none!important;
	
}

.Wylogowanie
{
	display:block;
	display:inline-block;

	list-style-type: none;
color: #000;
	
	
} 
.Wylogowanie a
{
	text-decoration: none!important;
	color: #000;
	
}
.Wylogowanie a:hover
{
	color:#FF9900;
	text-decoration: none!important;
}





.tytulik{
font-size:20px;
	
position: relative; top:1cm;
background-size:5%;
text-align:center;
color:blue;
}

.logo
{
	position: relative;right:7cm;
	position: relative;top:-3.5cm;
	
}

.nav
{ 
	
	z-index: 2;
}


.napisek
{
    
background: rgb(244,215,45);
background: linear-gradient(90deg, rgba(244,215,45,0.8547794117647058) 35%, rgba(247,74,74,0.7959558823529411) 58%);

	padding: 2px;
	border: 2px solid #D8DFDC;
	font-size:35px;
	position: relative;top:1.3cm;
	color: whitesmoke;
}




.napisek100
{
	text-align:center;
	padding:1px;
	color:skyblue;
	font-size:45px;
	border-bottom: 1px solid #CC3366;
	margin-bottom: 30px;
    position: relative;top:-2.4cm;
	z-index: 1;
}


.logowaniek a{
    text-decoration:none;
    font-size:20px;
    color:orange;
    
}

.logowaniek a:hover{
    text-decoration:none;
    
    color:yellow;
    
}

.napisek100 h67
{
	     
    top: 27px;
	z-index: 1;
}


.napisek107
{
	text-align:center;
	padding:1px;
	color:#37b93d;
	font-size:45px;
	border-bottom: 1px solid #CC3366;
	margin-bottom: 30px;
    position: relative;bottom:0.7cm;
	z-index: 1;
}

.napisek107 h67
{
	     
    top: 27px;
	z-index: 1;
}

.napisek101
{
	text-align:center;
	padding:1px;
	color:gold;
	font-size:45px;
	border-bottom: 1px solid #CC3366;
	margin-bottom: 30px;
    position: relative;top:-0.7cm;
	z-index: 1;
}

.napisek101 h67
{
	     
    top: 27px;
	z-index: 1;
}


.napisek01
{
	opacity: 0.9;
	font-size:30px;
		
}

.napisek02{
	font-size: 30px;
	opacity: 0.9;
	color: #CC0033;
}

.napisek03{
	font-size: 30px;
	opacity: 0.9;
	
}

.napisek04{
	font-size: 30px;
	color: yellow;
	
}
.napisek05{
	font-size: 30px;
	color: lightyellow;
	
	
}

.napisek06{
	font-size: 30px;
	color: #FF9900;
	
	
}

.napisek07{
	font-size: 30px;
	
	
	
}


.napisek08{
	font-size: 30px;
	
	
	
}

.napisek09{
	font-size: 30px;
	
	
	
}
.napisek010{
	font-size: 30px;
	
	
	
}
.napisek011{
	font-size: 30px;
	
	
	
}

.napisek h67
{
	     
    top: 27px;
	z-index: 1;
}
.napisek10
{
	font-size: 35px;
}



.napisek11
{
	text-align:center;
	padding:1px;
	color:chartreuse;
	font-size:45px;
	border-bottom: 1px solid #CC3366;
	margin-bottom: 30px;
	position: relative;top:-2.4cm;
	z-index: 1;
}

.napisek11 h67
{
	     
    top: 27px;
	z-index: 1;
}




.napisek3
{
	text-align:center;
	padding:1px;
	color:#006400;
	font-size:35px;
	
    position: relative;
	z-index: 1;
	position: relative;top:2.5cm;
}


.napisek3 h666
{
	background: #fff;
    padding: 0 15px;
    position: relative;
    top: 27px;
	z-index: 1;
	
}

#kontener2 {
	width: 100%;

	position: relative;top:-1cm;
	
	z-index: 2;
	text-align:center;	}

#kontener {
	width: 100%;
	position: relative;top:-0.1cm;
	z-index: 2;
	text-align:center;
	}
#menu {z-index: 2;display: table; padding: 0 10px 0; margin: 0 auto; overflow: hidden; font-size: 14px; background: #242424;}
#menu li {z-index: 2;list-style-type: none; margin: 0 auto; float: left; }
#menu li:hover {background: #404040;z-index: 2;}
#menu > li
{
	float: left;
	width: 207.5px;
	height: 30px;
	z-index: 2;
}
#menu li a {display: block; color: silver; text-decoration: none; padding: 7px 10px 7px;z-index: 2;}
#menu li a:hover {background: #404040; color: white;z-index: 2;}
#menu li li a {width: 180px;z-index: 2;}
#menu li ul {overflow: hidden; display: none; background: #242424;z-index: 2;}
#menu li:hover ul {position: absolute; padding: 0; display: block; width: 208px;z-index: 2;}


#menu *:hover {transition: 0.3s ease-in;z-index: 2;}

#menu {border-radius: 3px;z-index: 2;}
#menu li ul {border-radius: 0 0 3px 3px;z-index: 2;}

input[type=text]
{
	width: 220px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}


input[type=text]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}


input[type=password]
{
	width: 220px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}


input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}






.info
{
	
	padding:20px;
	background-color:#444444;
	position: relative; top:1.9cm;
	border-bottom-style: solid;
	clear: both;
	
}

.info h410
{
	
	position: relative;left:18.9cm;
	position: relative; top:1.7cm;
	color:white;
	font-size:19px;
}

.info h411 a
{
	
	color:white;
	text-decoration:none;
	position: relative;left:5.3cm;
}

.info h411{
	
	position: relative;left:2.9cm;
	font-size:17px;
	color:#009933;
	position: relative; bottom:1.2cm;
}

.info h411 a:hover
{
	color:orange;
}
#button {
  display: inline-block;
  background-color: #0000CD;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.regulaminek
{
	background-color:#BBBBBB;
	text-align:left;
	
}

.regulaminek h55
{
font-size:19px;
	color:#330000;
}
.dzieki a
{
	display:block;
	display:inline-block;
	text-decoration: none;
	list-style-type: none;
	text-align:center;
}
.panik

{
	position: relative; bottom:1.2cm;
	position: relative; left:2.2cm;
	
	text-decoration: none;
	list-style-type: none;
	font-size:19px;

}
.panik a
{
	text-decoration:none;
	color:black;
	
}

.panik h889
{
	position: relative; left:2cm;
	color:#3300CC;
}


.Logowanie1 a
{
	text-decoration: none;
	color: navy;
}
.Logowanie1 a:hover
{
	color:#555;
	text-decoration: none;
}

.wyswie12{
	background: rgb(249,228,228);
background: radial-gradient(circle, rgba(249,228,228,1) 7%, rgba(149,148,233,0.5130427170868348) 99%);
padding: 1cm;
border-radius: 14px 14px 14px 14px;
}

.wyswie12 h555
{
	
	font-size:19px;
	color:#0d0125;
	text-decoration: none;
}




.wyswie12 h555 a
{
	
	font-size:19px;
	color:#0d0125;
	text-decoration: none;
	
}

.wyswie20 h542
{
	position: relative; bottom:2.8cm;
	position: relative; left:1.1cm;
	font-size:22px;
	color:blue;
	
	
}

.wyswie13{
	background: rgb(249,228,237);
	background: radial-gradient(circle, rgba(249,228,237,1) 21%, rgba(224,233,148,0.8323704481792717) 89%);
padding: 1cm;
border-radius: 14px 14px 14px 14px;
}

.wyswie13 h555
{
	
	font-size:19px;
	color:#0d0125;
	text-decoration: none;
}



.wyswie13 h555 a
{
	
	font-size:19px;
	color:#0d0125;
	text-decoration: none;
}

.wyswie14{
	background: rgb(240,207,16);
background: linear-gradient(90deg, rgba(240,207,16,0.4318102240896359) 16%, rgba(184,253,29,0.41780462184873945) 54%, rgba(252,176,69,0.30575980392156865) 82%);
padding: 1cm;
border-radius: 14px 14px 14px 14px;
}

.wyswie14 h555
{
	
	font-size:19px;
	color:#0313f5;
	text-decoration: none;
}



.wyswie14 h555 a
{
	
	font-size:19px;
	color:#0313f5;
	text-decoration: none;
}


.wyswie15{
	background: rgb(34,195,166);
background: linear-gradient(0deg, rgba(34,195,166,0.20772058823529416) 26%, rgba(45,49,253,0.2413340336134454) 94%);
border-radius: 14px 14px 14px 14px;
padding: 1cm;
}

.wyswie15 h555
{
	
	font-size:19px;
	color:#0a0909;
	text-decoration: none;
}



.wyswie15 h555 a
{
	
	font-size:19px;
	color:#0a0909;
	text-decoration: none;
}

.wyswie21 h542
{
	position: relative; bottom:3.49cm;
	position: relative; left:5.8cm;
	font-size:22px;
	color:#20B2AA;
	
	
}
.wyswie22 h542
{
	position: relative; bottom:4.11cm;
	position: relative; left:11.8cm;
	font-size:22px;
	color:#CD853F;
	
	
}
.wyswie23 h542
{
	position: relative; bottom:4.79cm;
	position: relative; left:16.8cm;
	font-size:22px;
	color:#2E8B57;
	
	
}

.wyswie1777 h542
{
	position: relative; bottom:2.1cm;
	position: relative; left:17.2cm;
	font-size:22px;
	color:orange;
	
	
}



.Logowanie22 a
{
	text-decoration: none;
	color:navy;
	
}
.Logowanie22 a:hover
{
	color:#555;
	text-decoration: none;
}


.Logowanie33 a
{
	text-decoration: none;
	color:navy;
}
.Logowanie33 a:hover
{
	color:#555;
	text-decoration: none;
}

.sticky
{
	width:100%;
	position:fixed;
	left: 0;
	top: 0;
	
	
}
img.koszyk
{
	transition: transform 0.3s;
}

img.koszyk:hover
{
	transform: scale(1.1);
}
.koszydiv
{
	position: relative;left:25cm;
	position: relative;bottom:5.4cm;
	
}

.los2
{
	position: relative;bottom:3.3cm;
	position: relative;left:5cm;
}



.koszykt{
	
	position: relative;top:-20.1cm;
	position: relative;left:0.5cm;
	
}
input.btn4{

	border: none;
	background: #666600	;
	color: yellow;
	cursor: pointer;
	font-size: 22px;
	padding: 10px 14px;
	margin: 15px;
	
	margin-left: auto;
}

input.btn4:hover {
	background: transparent;
	color: palegoldenrod;
}


input.btn3{
	
	border: none;
	background: #2F4F4F	;
	color: yellow;
	cursor: pointer;
	font-size: 22px;
	padding: 10px 14px;
	margin: 15px;
	transition: background 2s, color 2s;
}

input.btn3:hover {
	background: transparent;
	color: #8B0000;
}
.movie {
	min-height: 280px;
	padding: 10px;
}
figure {
	float: left;
	width: 200px;
	height: 260px;
	text-align: center;
	
	
}
figcaption {
	
	
	
	
	color:orange;
	font-size:20px;
	
	
}

.opis {
	display: inline-flex;
	
	color:yellow;
	font-size:20px;
}
#dates{
display: inline-flex;
text-align: center;
  width: 650px;
  height: 100px;
 

  margin-left: 2px;
  margin-top: 2px;
}



div.day{
  width: 110px;
  height: 150px;
  margin-top: auto;
 
 
  text-align: center;
  display: inline-flex;
  border-right: 2px double #20B2AA;
  border-top: 2px double #20B2AA;
  border-bottom: 2px double #20B2AA;
  border-left: 2px double #20B2AA;
  margin-bottom: 2px;
 
}
div.day a
{
	background:  none;
	text-decoration: none;
	
	border: none;
	


}
div.day a input
{
	background:  #ffffff;
	height: 25px;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 3px;
	margin-right: 3px;
	border: none;
	padding: 2px;
	color: black;

}

div.day a:hover
{
	border: none;
	
	cursor: pointer;

}
div.day input:hover
{
	border: none;

	cursor: pointer;
	color: saddlebrown;

}

.day form{
margin-left: auto;
  margin-right: auto;
}
.day form input{
	display: inline-flex;
	margin-top: auto;
  margin-bottom: auto;
}


.opis_rezerwacji
{
	font-size: 25px;
	position: relative; bottom:0.3cm;
	
	color:#CCFFFF;
}





#lp {
	width:25px;
    height:25px;
    font-size: 15px;
    text-align: left;
	padding: 5px;
    margin: 5px 5px 0 0;
	display: inline-block;
	color: yellow;
	position: relative; top: 0.1cm;
	
}

#ekran {
	width: 298px;
	height: 35px;
	background-color: #00008B;
	text-align: center;
	font-size: 20px;
	color: bisque;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 2px solid black;
	
}

.sala {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 50px;
	position: relative; top:4.3cm;
}

#footer_sala{
  width: 600px;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: auto;
	margin-right: auto;
  text-align: center;

}

input.btn2 {
    display:none;
}

input.btn2 + label {
    color: #D8DFDC;
  text-align: center;

}

input.btn2 + label span {
    display:inline-block;
    width:25px;
    height:25px;

    font-size: 15px;
    margin: 5px 5px 0 0;
    vertical-align: middle;
    background-color: #2A8A33;
    cursor:pointer;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    border-radius: 20%;

}

input.btn2:checked + label span {
    background-color: #3E4D47;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

input.btn2:disabled + label span {
    background-color: #c10115;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}




.koinfo h28

{
	font-size:22px;
	color:#FF9800;
	
}

.koinfo2
{
	
	font-size:25px;
	
	
}

.pusto
{

	position: relative; top:2cm;
}

.pusto h43
{
	font-size: 22px;
	display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
color: #00008B;
border: 3px solid #497a78;
padding: 10px;
border-radius: 25px;
background-color: whitesmoke;
}

.pusto2 h45
{
	
	font-size:21px;
	color:whitesmoke;
	
}

.zawartosc_kosz h45
{
	position:relative;top:2.4cm;
	font-size: 22px;
	display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
color: #0d0125;
border: 3px solid #242424;
padding: 10px;
border-radius: 25px;
background-color: rgb(255, 241, 241);

}


.zawartosc2_kosz h45
{
	position:relative;top:2.4cm;
	font-size: 22px;
	display: table; 
    margin: 0px auto 0px auto; 
    padding:5px;
color: #00008B;
border: 3px solid seagreen;
padding: 10px;
border-radius: 25px;
background-color: rgb(241, 241, 241);

}

.pusto22 h45
{
	
	font-size:21px;
	color:red;
}

.pusto3 h45
{
	
	font-size:21px;
	color:seashell;
}


.wolne_miejsca
{
	
	
	position: relative; top:7cm;
}

.wolne_miejsca h82
{
	
	color:#32CD32;
	position: relative; top:2cm;
	 font-size:25px;
	 position: relative; left:5cm;
}

.wolne_miejsca h83
{
	 font-size:25px;
	position: relative; top:4cm;
	color:#0000CD;
	 position: relative; right:3cm;
}
.wolne_miejsca h81
{
	 font-size:25px;
	color:#8B0000;
	position: relative; left:14cm;
}

.texto
{
	font-size:18px;
	position: relative;left:1.6cm;
}
.godzko
{
	font-size:18px;
	text-align:center;
	position: relative; bottom:1.9cm;
	
	
}
.mapa
{
	text-align:center;
	position: relative;left:1.6cm;
}
.telefono
{
	font-size:18px;
	float:right;
	position: relative; bottom:3.7cm;
	position: relative;right:1.6cm;
}

.color
{
	animation-name: color;

animation-duration:5s;

animation-iteration-count:infinite;
position: relative; top:1.8cm;
border: 3px solid #ddd;

font-size:22px;
}
@keyframes color
{
  0% { background-color:white; width:auto; color:#00CED1; }
  25% { background-color:whitesmoke; }
  
  100% { background-color:white; width:auto; }
}



.pow
{
	
	font-size:20px;
	
}

.pow a
{
	text-decoration:none;
	color:yellow;
	
	
}

.pow a:hover
{
	
	color:orange;
	text-decoration:none;
}

.powitanie{
	font-size: 17px;
	
}

.powEmail{
	font-size: 17px;
}

.fa-user-circle{

font-size: 20px;


}


.fa-sign-out-alt
{
	font-size: 16px;
}

input[type='image'] {
    border-top-style:inset;
	border-bottom-style:inset;
	border-right-style:inset;
	border-left-style:inset;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	background-color:#DDDDDD;
	position: relative;top:0.4cm;
	position: relative;left:0.4cm;
	transition: transform 0.2s;
}
input[type='image']:hover {
transform: scale(1.1);
}


.powrkosz{

	font-size: 21px;

	
	text-decoration: none;
	
}

.powrkosz a{
	text-decoration: none;
	color: #0000CD;
	

}

.powrkosz a:hover{

	text-decoration: none;
	color: #CD853F;
}

.powrkosz2{

	font-size: 21px;
			text-decoration: none;
	
}

.powrkosz2 a{
	text-decoration: none;
	color:#330000;
}

.powrkosz2 a:hover{

	text-decoration: none;
	color: rebeccapurple;
}